*{
    font-family: 'Aleo', serif;
    font-weight: 300;

}

body{

    background-image: url(../assets/pictures/peter-burdon-VWy0C3oOmQk-unsplash.jpg) ;
    background-size: cover;
    background-position: 20% 10%;
    background-repeat: no-repeat;
   font-size: 1.4rem;
   height: 100vh;
    height: 100vh;
}

nav{
    background-color: black;
}
@media  screen and (min-width: 620px){
   body{
        background-position: 20% 50%;

        }
    }
@media  screen and (min-width: 1020px){
    body{
        background-image: url(../assets/pictures/shiyang-xu-Rvqz1HsrkJQ-unsplash.jpg) ;
    background-size: cover;
    background-position: 20% 10%;
    background-repeat: no-repeat;

        }
    }


h1{
    font-weight: 200;
    margin-top: 30vh;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 20px;
    color: white;
}
@media screen and (max-width: 630px) {
    h1{
        font-size:2rem;
    }
}
hr{

 width: 60%;
 margin-left: 20%;
 color: white;

}

footer{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0px;
    font-size: .8rem;
    width: 100vw;
}